{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}

{% endblock %}
{% block content %}

	<div class="masthead clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
			<nav>
				<ul class="nav masthead-nav">
					<li class="active"><a href="/constellation/">Home</a></li>
					<li><a href="/constellation/munster/">Munster</a></li>
					<li><a href="/constellation/leinster/">Leinster</a></li>
					<li><a href="/constellation/connacht/">Connacht</a></li>
					<li><a href="/constellation/ulster/">Ulster</a></li>
					<li><a href="#" id="contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
{% load i18n %}


<h2>Password Reset Email Sent</h2>
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}