{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}

{% endblock %}
{% block content %}

	<div class="masthead clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
			<nav>
				<ul class="nav masthead-nav">
					<li class="active"><a href="/constellation/">Home</a></li>
					<li><a href="/constellation/munster/">Munster</a></li>
					<li><a href="/constellation/leinster/">Leinster</a></li>
					<li><a href="/constellation/connacht/">Connacht</a></li>
					<li><a href="/constellation/ulster/">Ulster</a></li>
					<li><a href="#" id="contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
{% load i18n %}

{% if validlink %}

    <form method="post"  class="form-signin">{% csrf_token %}
        <h2 class="form-signin-heading">Password Reset</h2>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    
    
        {{ form.new_password1.errors }}
        <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label><input required class="form-control" id="id_new_password1" name="new_password1" type="password" class=""></p>
        {{ form.new_password2.errors }}
        <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label><input required class="form-control" id="id_new_password2" name="new_password2" type="password"></p>
        <p><input class="form-control" type="submit" value="{% trans 'Change my password' %}" /></p>
        

    </form>





<form method="post" class="form-signin">{% csrf_token %}

</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
