<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="{% static 'constellation/images/constellation_logo.png' %}"/>
		<title>{{head_title}}</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/bootstrap.min.css' %}" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/ie10-viewport-bug-workaround.css' %}" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--[if lte IE 9]><!-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
		<script src="{% static 'constellation/js/html5shiv.js' %}"></script>
		{% block customstylesheet %}{% endblock %}
	</head>
	<body>
		{% block content %}
		
		{% endblock %}
	</body>
</html>