<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="{% static 'constellation/images/constellation_logo.png' %}"/>
		<title>{{head_title}}</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/bootstrap.min.css' %}" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/ie10-viewport-bug-workaround.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/inside.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/sidebar.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/justified-nav.css' %}" />
				<link rel="stylesheet" type="text/css" href="{% static 'constellation/css/login.css' %}" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--[if lte IE 9]><!-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static 'constellation/js/html5shiv.js' %}"></script>
		<script src="{% static 'constellation/js/countdown.js' %}"></script>
		{% block customstylesheet %}{% endblock %}
	</head>
	<body>
	<!--Contact box-->
	<div id="pop_background">
	</div>
	<div id="pop_box">
		<span id="close">&times;</span>
		<form method="POST" action="" class="form-signin">
			<h2 class="form-signin-heading">Email Us</h2>
			{% csrf_token %}
			<p><label for="name"  class="sr-only">Name:</label>
			<input type="text" name="username" class="form-control" placeholder="Name: "/>
			
			<p><label for="email" class="sr-only">Email:</label>
			<input type="email" name="password" class="form-control" placeholder="Email: "/>
			
			<p><label for="message" class="sr-only">Message</label>
			<textarea placeholder="Message" class="form-control" rows="5" id="message"></textarea>
		
			<div>

			</div>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Send" />
		</form>
	</div>
	<!--/Contact box-->
		<!-- site bg -->
				<div style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="site-bg">
					<div class="site-bg__img"></div>
					<div class="site-bg__overlay"></div>
					<div style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(17.1691px, 0.91728px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="site-bg__effect layer" data-depth=".30"></div>       <!-- parallax data, try edit to other number :) -->
					<canvas height="659" width="1366" style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(17.1691px, 0.91728px, 0px); transform-style: preserve-3d; backface-visibility: hidden; opacity: 1;" class="site-bg__canvas layer" data-depth=".30"></canvas> <!-- parallax data, try edit to other number :) -->
				</div>
		<!-- /site bg -->
	<div id="page-content-wrapper">
	<div id="wrapper">
    <a href="#" class="btn btn-primary" id="toggle-sidebar">             
            &#9776; 
    </a>
		<div class="container">
			<div id="sidebar-wrapper" >
				<ul class="sidebar-nav">
					<li><a href="#"><img src="{% static 'constellation/images/icon/account.png' %}" ></img>Account</a></li>
					<li><a href="#"><img src="{% static 'constellation/images/icon/events.png' %}" ></img>Events</a></li>
					<li><a href="/constellation/logout"><img src="{% static 'constellation/images/icon/messages.png' %}" ></img>Messages</a></li>
					<li><a href="#"><img src="{% static 'constellation/images/icon/settingsCog.png' %}" ></img>Preferences</a></li>
{% if user.username %}
					<li><a href="/constellation/logout/"><img src="{% static 'constellation/images/icon/logout.png' %}" ></img>Logout</a></li>
{% else %}
					<li><a href="/constellation/login/"><img src="{% static 'constellation/images/icon/logout.png' %}" ></img>Login</a></li>
{% endif %}
				</ul>
			</div>
{% block content %}
{% endblock %}
	<!-- Site footer -->
	<footer class="footer">
	<p>&copy; Created by Django Unchained 2016 as part of a group project for CS3306. <div id="google_translate_element"></div></p>
	
	</footer>
	</div>
	</div> <!-- /container -->
	</div>
		
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'constellation/bootstrap.min.js' %}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="{% static 'constellation/ie10-viewport-bug-workaround.js' %}"></script>
	<!-- script -->
	<script src='{% static "constellation/js/bootstrap.js" %}'></script>
	<script src='{% static "constellation/js/plugin.js"%}'></script>
	<script src='{% static "constellation/js/variable.js"%}'></script>
	<script src='{% static "constellation/js/main.js"%}'></script>
	<script type="text/javascript">
						function googleTranslateElementInit() {
						  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
						}
						</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</body>
</html>