{% extends "cover.html" %}
{% load static %}
{% block content %}
	<div class="inner cover">

		<form id="form" method="post" action="." class="form-signin">
{% csrf_token %}			
			<div id="stage1div">
				<h2 class="form-signin-heading">Signup</h2>
				<p><label for="id_email"  class="sr-only">Email:</label>
				<input type="email" name="email" class="form-control" placeholder="Email"/>
				
				<p><label for="pwd1" class="sr-only">Password:</label>
				<input id="pwd1" type="password" name="pwd1" class="form-control" placeholder="Password"/>
				
				<p><label for="pwd2" class="sr-only">Confirm Password:</label>
				<input id="pwd2" type="password" name="pwd2" class="form-control" placeholder="Confirm Password"/>
				
				<div>

				</div>
				<input id="stage1" type="submit" class="btn btn-lg btn-primary btn-block" value="Next" />
			</div>
			
			<div id="stage2div">
				<h2 class="form-signin-heading">Nearly There</h2>
				<p><label for="first_name"  class="sr-only">First name:</label>
				<input id="first_name" type="text" name="first_name" class="form-control" placeholder="First Name"/>
				
				<p><label for="surname" class="sr-only">Surname:</label>
				<input id="surname" type="text" name="surname" class="form-control" placeholder="Surname"/>
				
				<p><label for="age" class="sr-only">Age:</label>
				<input type="text" name="age" class="form-control" placeholder="Age"/>
				
				<p><label class="checkbox-inline">
					<input type="checkbox" value="">Male
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">Female
				</label>
				<div>

				</div>
				<input id="stage2" type="submit" class="btn btn-lg btn-primary btn-block" value="Next" />
			</div>
			
			<div id="stage3div">
				<h2 class="form-signin-heading">Last Step</h2>
				<p><label for="first_name"  class="sr-only">First name:</label>
				<input id="first_name" type="text" name="first_name" class="form-control" placeholder="First Name"/>
				
				<p><label for="surname" class="sr-only">Surname:</label>
				<input id="surname" type="text" name="surname" class="form-control" placeholder="Surname"/>
				
				<p><label for="age" class="sr-only">Age:</label>
				<input type="text" name="age" class="form-control" placeholder="Age"/>
				
				<div>

				</div>
				
				<input id="stage3" type="submit" class="btn btn-lg btn-primary btn-block" value="Let me in" />
			</div>
		</form>
	</div>
{% endblock %}