{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}

{% endblock %}
{% block content %}

  <div class="masthead clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
			<nav>
				<ul class="nav masthead-nav">
					<li><a href="/constellation/">Home</a></li>
					<li><a href="/constellation/munster/">Munster</a></li>
					<li><a href="/constellation/leinster/">Leinster</a></li>
					<li class="active"><a href="#">Connacht</a></li>
					<li><a href="/constellation/ulster/">Ulster</a></li>
					<li><a href="#" id="contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
              <!-- Jumbotron -->

              <div class="jumbotron">
                <h1>{{ event.title }}</h1>
                <div class="countdown">
                    <script type="application/javascript">
                      var myCountdownTest = new Countdown({
                                        onComplete : countdownComplete,
                                        year  : 2016,
                                        month : 5, 
                                        day   : 28,
                                        width : 500, 
                                        height  : 85
                                        });
                    </script>
                </div>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Get your ticket now!</a></p>
              </div>

              <!-- Example row of columns -->
              <div class="row">
                <div class="col-lg-4">
                  <h2>Event Info</h2>
                  <p>{{ event.eventDescription }}</p>
				</div>
                <div class="col-lg-4">
                    <h2>Key Details</h2>
                    <div class="polaroid">
                      <img src="../../static/constellation/images/connacht.png" width="100%"/>
                      <p>
                          <b>Date:</b> {{ event.startDate }} - {{ event.endDate }}</br>
                          <b>Location:</b> Clifden </br>
                      </p>
                    </div>
                </div>
                <div class="col-lg-4">
                  <h2>Location</h2>
                  <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=hotels%20near%20clifden&key=AIzaSyAa9sdVaauIjfa-wRRvz-lETns_aei48dY" allowfullscreen></iframe>
                </div>
              </div>
{% endblock %}
