{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}
	<!-- Custom styles for this template -->
	
{% endblock %}
{% block content %}

	<div class="masthead clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
			<nav>
				<ul class="nav masthead-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/constellation/munster/">Munster</a></li>
					<li><a href="/constellation/leinster/">Leinster</a></li>
					<li><a href="/constellation/connacht/">Connacht</a></li>
					<li><a href="/constellation/ulster/">Ulster</a></li>
					<li><a href="#" id="contact">Contact</a></li>
					<li>
						<div id="google_translate_element"></div><script type="text/javascript">
						function googleTranslateElementInit() {
						  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
						}
						</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	  <!-- Jumbotron -->
	  <div class="jumbotron">
		{% if user.username %}
			<h1>Welcome {{ user.get_username }}!<h1>
				<p>{{ user_profiles.last_name }}</p>
		{% else %}
			<h1>Welcome to Constellation!</h1>
		{% endif %}
		<p class="lead">Your event page striving to connect the people of Ireland.</p>
		<p class="lead">Gathering the passion to create excellence!</p>
		<p><a class="btn btn-lg btn-success" href="/constellation/register" role="button">Register Now!</a></p>
	  </div>

	  <!-- Example row of columns -->
	  <div class="row">
		<div class="col-lg-4">
		  <h2>Past Events</h2>
		  <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
		  <p>
		  	Date: xx/xx/xx </br>
		  	Time: 20:00 </br>
		  	Location: Dublin </br>
		  </p>
		  <p><a class="btn btn-primary" href="#" role="button">More &raquo;</a></p>
		</div>
		<div class="col-lg-4">
		  <h2>Heading</h2>
		  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	   </div>
		<div class="col-lg-4">
		  <h2>Next Event</h2>
		  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
		  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
		</div>
	  </div>
{% endblock %}
