{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}
	<!-- Custom styles for this template -->
	
{% endblock %}
{% block content %}

	<div class="masthead clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
			<nav>
				<ul class="nav masthead-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/constellation/munster/">Munster</a></li>
					<li><a href="/constellation/leinster/">Leinster</a></li>
					<li><a href="/constellation/connacht/">Connacht</a></li>
					<li><a href="/constellation/ulster/">Ulster</a></li>
					<li><a href="#" id="contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	  <!-- Jumbotron -->
	  <div class="jumbotron">
		{% if user.username %}
			<h1>Welcome {{ profile.first_name }} {{ profile.last_name }}!<h1>
			<p class="lead">Your event page striving to connect the people of Ireland.</p>
			<p class="lead">Gathering the passion to create excellence!</p>
		{% else %}
			<h1>Welcome to Constellation!</h1>
			<p class="lead">Your event page striving to connect the people of Ireland.</p>
			<p class="lead">Gathering the passion to create excellence!</p>
			<p><a class="btn btn-lg btn-success" href="/constellation/register" role="button">Register Now!</a></p>
		{% endif %}
	  </div>

	  <!-- Example row of columns -->
	  <div class="row">
		<div class="col-lg-4">
		  <h2>What's been on</h2>
		  <p>{{ past.title }} on {{ past.startDate }}</p>
		  <p>{{ past.eventDescription }}</p>
		  <p><a class="btn btn-primary" href="#" role="button">More &raquo;</a></p>
		</div>
		<div class="col-lg-4">
		  <h2>What's on now</h2>
		  <p>{{ present.title }} on {{ present.startDate }}</p>
		  <p>{{ present.eventDescription }}</p>
		  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	   </div>
		<div class="col-lg-4">
		  <h2>What's on later</h2>
		  <p>{{ future.title }} on {{ future.startDate }}</p>
		  <p>{{ future.eventDescription}} </p>
		  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
		</div>
	  </div>
{% endblock %}
