{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}

{% endblock %}
{% block content %}

          <div class="masthead clearfix">
		<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
			<nav>
				<ul class="nav masthead-nav">
					<li><a href="/constellation/">Home</a></li>
					<li><a href="/constellation/munster/">Munster</a></li>
					<li class="active"><a href="#">Leinster</a></li>
					<li><a href="/constellation/connacht/">Connacht</a></li>
					<li><a href="/constellation/ulster/">Ulster</a></li>
					<li><a href="#" id="contact">Contact</a></li>
          <li>
              <div id="google_translate_element"></div><script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
              }
              </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </li>
				</ul>
			</nav>
		</div>
	</div>
			  
              <!-- Jumbotron -->
              <div class="jumbotron">
                <h1>Digital Biscuit</h1>
                <div class="countdown">
                    <script type="application/javascript">
                      var myCountdownTest = new Countdown({
                                        year  : 2016,
                                        month : 10, 
                                        day   : 20,
                                        width : 500, 
                                        height  : 85
                                        });
                    </script>
                </div>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Get your ticket now!</a></p>
              </div>

              <!-- Example row of columns -->
              <div class="row">
                <div class="col-lg-4">
                  <h2>Event Info</h2>
                  <p>Digital Biscuit is always an interesting proposition. Looking at the point at which technology and culture collide, it’s of huge value to anybody with a penchant for film, television, or tech.</p>
                  <p>Previous years have seen directors Michel Gondry and David Yates speak at the event, as well as creators like David Chase, and producers such as Borgen’s Camilla Hammerich featuring. </p>
                  <p>If you are keen on film and television and the business behind it, you will really love Digital Biscuit. It’s a brilliant occasion that brings professionals together and looks at the future on the silver and small screens. </p>
                  </div>
                  <div class="col-lg-4">
                      <h2>Key Details</h2>
                      <p>
                          <b>Date:</b> 20 - 22 October 2016 </br>
                          <b>Location:</b> Point Village, Dublin </br>
                      </p>
                      <img src="../../static/constellation/images/leinster.png" width="100%"/>
                  </div>
                
                <div class="col-lg-4">
                  <h2>Location</h2>
                  <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=hotels%20near%203arena%2C%20Dublin&key=AIzaSyAa9sdVaauIjfa-wRRvz-lETns_aei48dY" allowfullscreen></iframe>
                </div>
              </div>	
	{% endblock %}
