{% extends "base.html" %}
{% load static %}
{% block customstylesheet %}

{% endblock %}
{% block content %}
		<!--Navbar-->
		<div class="masthead clearfix">
			<div class="inner">
			<h3 class="masthead-brand">Constellation <small>Connecting &Eacute;ire</small></h3>
				<nav>
					<ul class="nav masthead-nav">
						<li><a href="/constellation/home/">Home</a></li>
						<li class="active"><a href="#">Munster</a></li>
						<li><a href="/constellation/leinster/">Leinster</a></li>
						<li><a href="/constellation/connacht/">Connacht</a></li>
						<li><a href="/constellation/ulster/">Ulster</a></li>
						<li><a href="#" id="contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--/Navbar-->
	
	<!-- Jumbotron -->
		<div class="jumbotron">
		<h1>Cork 2016!</h1>
		<script type="application/javascript">
			var myCountdownTest = new Countdown({
											 	year	: 2016,
												month	: 3, 
												day		: 12,
												width	: 500, 
												height	: 85
												});
		</script>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Get your ticket now!</a></p>
		</div>
	<!-- /Jumbotron -->
		
	<!-- Example row of columns -->
		<div class="row">
		<div class="col-lg-4">
		  <h2>Event Info</h2>
		  <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
		  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4">
		  <h2>Tickets</h2>
		  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		  <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4">
		  <h2>Location</h2>
		  <iframe width="387" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=hotels%20near%20City%20Hall%20Cork%2C%20Cork%2C%20Ireland&key=AIzaSyAa9sdVaauIjfa-wRRvz-lETns_aei48dY" allowfullscreen></iframe>
		</div>
		</div>
	<!-- /Example row of columns -->
{% endblock %}
