<HTML>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/constellation/css/ticket.css" />
    </head>

    <body>
    
        <h1>{{event_title}}</h1>
        <h2>{{event_description}}</h2>
        <div id="wrap">   
            <div id="qr">
                <img src="https://api.qrserver.com/v1/create-qr-code/?data=test&amp;size=100x100" alt="" title="" />
            </div>
            <div id="info">
                <h3>{{first_name}} {{last_name}}</h3>
                
                <p>Start Time: {{start_time}}     {{start_date}}</p>
                
                <p>Venue: {{venue_name}}</p>
                <p>{{venue_address}}</p>
                <p>{{venue_county}}</p>
                <p>Ireland</p>
            </div>
        </div>
        <small>Please print this email and bring it with you to the event along with valid ID</small>
    </body>
</HTML>