#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 100%;
    overflow-y: hidden;
    color: #ffffff;
    background: #1d9cf0;
    background-image: -webkit-linear-gradient(top, #1d9cf0, #2980b9);
    background-image: -moz-linear-gradient(top, #1d9cf0, #2980b9);
    background-image: -ms-linear-gradient(top, #1d9cf0, #2980b9);
    background-image: -o-linear-gradient(top, #1d9cf0, #2980b9);
    background-image: linear-gradient(to bottom, #1d9cf0, #2980b9);
    
}
#toggle-sidebar{
        background: #1d9cf0;
        border-radius: 0px 5px 5px 0px;
        border: none;
        height: 40px;
        position: fixed;
        width: 40px;
        font-size: 22px;
}

.sidebar-layout #toggle-sidebar{
    margin-left: 249px;
}

.container{
    padding-left: 50px;
}

.sidebar-layout .container{
    padding-left: 310px;
    width: 100%;
}


.sidebar-layout #sidebar-wrapper{
    padding-top: 60px;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#sidebar-wrapper li{
    line-height: 40px;
    text-indent: 20px;
}

#sidebar-wrapper li:last-child{
    margin-top: 3em;
}

.sidebar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: white;
    
}

.sidebar-nav li a:hover{
    background: blue;
}

.sidebar-nav img{
    max-height: 30px;
    max-width: 30px;
    margin-right: 1em;
}


@media (max-width: 768px) {
    #toggle-sidebar{
        display: none;
    }
    
    #sidebar-wrapper{
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0;
    }
    
    .container{
        padding-right: 0;
        padding-left: 0;
    }
    .sidebar-nav{
        display: table;
        width: 100%;
    }
    
    .sidebar-nav li{
        display: table-cell;
        border-right: 1px solid white;
    }
    
    .sidebar-nav li a:hover{
        background: #1d9cf0;
    }
    
    #sidebar-wrapper li:last-child{
        margin-top: 0px;
    }
    
    
    .sidebar-nav img{
        margin-right: 0.5em;
    }
}

@media (max-width: 720px) {
    #sidebar-wrapper li{
        text-indent: 10px;
    }
}

@media (max-width: 600px) {
    #sidebar-wrapper li a{
        font-size: 0px;
    }
    
    .sidebar-nav img{
        display: block;
        margin: 5px auto;
    }
}


    
